/* ALL PAGES */

*
{
	box-sizing: border-box;
}

body
{
	font-family: "Lucida Grande", sans-serif;
	margin:0;
}

/* INDEX.HTML */

a.gallery-links
{
	text-decoration: none;
}

/* GALLERY.HTML */

figure.one-slide
{
	display: none;
}

img.slide-pic
{
	vertical-align: middle;
	width: 80%;
	margin: 50px 10% 20px;
}

/* Slideshow container */
div.slideshow-container
{
	max-width: 900px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
a.prev-button, a.next-button
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	margin-top: -22px;
	font-weight: bold;
	font-size: 18px;
	user-select: none;
}

/* Position the "next button" to the right */
a.next-button
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
a.prev-button:hover, a.next-button:hover
{
	background-color: rgba(0,0,0,0.1);
}

/* Caption text */
figcaption.slide-caption
{
	font-size: 15px;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px)
{
	a.prev-button, a.next-button, figcaption.slide-caption
	{
		font-size: 11px
	}
}

/* SCROLL.HTML */

figure.one-figure
{
	max-width: 800px;
	width: 50%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 10em;
}

@media only screen and (min-width: 769px) and (max-width: 959px)
{
	figure.one-figure
	{
		width: 60%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px)
{
	figure.one-figure
	{
		width: 80%;
	}
}

@media only screen and (max-width: 479px)
{
	figure.one-figure
	{
		width: 90%;
	}
}

img.figure-pic
{
	width: 100%;
}

figcaption.figure-caption
{
	font-size: 15px;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
}
